import os
import sys

from nudgebot import settings


DIR = os.path.dirname(__file__)
settings.CurrnetProject().setup(sys.modules[__name__])

# The following imports must be AFTER project setting
from .config import config  # noqa
from nudgebot.db import DatabaseClient

db_client = DatabaseClient()
